<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cunjunwang.shanghai.transportation.dao.BusLineExceptionMapper">
    <resultMap id="BaseResultMap" type="com.cunjunwang.shanghai.transportation.model.po.BusLineException">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="bus_line" jdbcType="VARCHAR" property="busLine"/>
        <result column="exception_reason" jdbcType="VARCHAR" property="exceptionReason"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="is_del" jdbcType="INTEGER" property="isDel"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        bus_line,
        exception_reason,
        create_time,
        is_del,
        update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bus_line_exception
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectByBusLineNumber" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bus_line_exception
        where bus_line = #{busLineNumber, jdbcType=VARCHAR}
        and is_del = 0
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bus_line_exception
        where is_del=0;
    </select>
    <select id="selectAllValidLineNumber" resultType="java.lang.String">
        select distinct bl.bus_line
        from bus_line bl
        where is_del = 0
    </select>
    <insert id="insert" parameterType="com.cunjunwang.shanghai.transportation.model.po.BusLineException">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into bus_line_exception (id, bus_line, exception_reason,
        create_time, is_del, update_time
        )
        values (#{id,jdbcType=BIGINT}, #{busLine,jdbcType=VARCHAR}, #{exceptionReason,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.cunjunwang.shanghai.transportation.model.po.BusLineException">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into bus_line_exception
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="busLine != null">
                bus_line,
            </if>
            <if test="exceptionReason != null">
                exception_reason,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=BIGINT},
            <if test="busLine != null">
                #{busLine,jdbcType=VARCHAR},
            </if>
            <if test="exceptionReason != null">
                #{exceptionReason,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.cunjunwang.shanghai.transportation.model.po.BusLineException">
        update bus_line_exception
        <set>
            <if test="busLine != null">
                bus_line = #{busLine,jdbcType=VARCHAR},
            </if>
            <if test="exceptionReason != null">
                exception_reason = #{exceptionReason,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cunjunwang.shanghai.transportation.model.po.BusLineException">
        update bus_line_exception
        set bus_line         = #{busLine,jdbcType=VARCHAR},
            exception_reason = #{exceptionReason,jdbcType=VARCHAR},
            create_time      = #{createTime,jdbcType=TIMESTAMP},
            is_del           = #{isDel,jdbcType=INTEGER},
            update_time      = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>